<div class="grid-container">
<h1 class="mat-h1" style="padding-left: 15px; margin-top:50px;">Here are some Events in your area!</h1>


  <div class="search" style="padding-left:15px;">
     <input type="text" style="height:100%; padding-bottom:10px; width: 40%;"class="searchTerm" placeholder="What are you looking for?">
     <button type="submit" class="searchButton" (click)="submitSearch()">
<mat-icon>search</mat-icon>
</button>
  </div>


    <mat-grid-list cols="4" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card card-image" [style.background-image]="getImage(card.imageName)">
          <mat-card-header class="card-title">
              <div class="frosted-glass" [frosted-glass:before.background-image]="getImage(card.imageName)">
                <mat-card-title>
                  {{card.title}}
                </mat-card-title>
              </div>
            </mat-card-header>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
